<div align="center">
  <h1 class="dashtitle">Dashboard</h1>
  <h3 class="playeremail"><%= current_player.email %></h3>
  <hr>

  <table>
  <thead>
    <tr>
      <th> <h2 class="gamesTitle"> My Games (MY TURN)</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @games.each do |game| %>
      <tr>
        <td><h3><%= game.game_name %></h3></td>
        <td><button class="dashButton"><%= link_to 'Play', game_path(game) %></button></td>
        <td><button class="dashButton"><%= link_to 'Delete', game_path(game), method: :delete %></button></td>
      </tr>
    <% end %>
</table>

<br />
<button class="dashButton"><%= link_to 'New Game', new_game_path %></button>
<br/><br>
<button class="dashButton"><%= link_to 'Back', :back %></button>

<h1> Open Games (OPPONENT'S TURN)</h1>
    <% @all_games.available.each do |game| %>
      <% if game.white_player_id != current_player.id %>
        <tr>
          <td><h3><%= game.game_name %></h3></td>
          <td><button class="dashButton"><%= link_to 'Join game', join_game_path(game), method: :patch %></button></td>
        </tr>
      <% end %>
    <% end %>
</div>