Skip to content
This repository
Search
Pull requests
Issues
Gist
 @phagmann
 Unwatch 5
  Star 0
 Fork 0 Ruby-Knights-of-the-Round-Table/chess
 Code  Issues 0  Pull requests 2  Projects 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathchess/app/views/games/show.html.erb
104659a  20 minutes ago
@phagmann phagmann Can move a piece to an open space
3 contributors @phagmann @lalalilu @chiyingleung1
RawBlameHistory     
78 lines (64 sloc)  1.92 KB
<h1><%= @game.game_name %></h1>
<!-- style="padding: 0; border: none; background: none;" -->
<table id='board'>
  <% 8.times do |row| %>
    <%= '<tr>'.html_safe %>
      <% 8.times do |cell| %>

          <% piece = Piece.find_by(game_id: @game.id, x_position: cell, y_position: row) %>
          <% if piece != nil %>
                <td ><button id="<%= "#{8*row + cell}" %>"  onclick="select(this,tracker);tracker++;" style="height:100%;width:100%;padding: 0; background: none;"> <%= "#{piece.color}".html_safe %></button></td>
         <% else %>
                <td > <button id="<%= "#{8*row + cell}" %>" onclick="select(this,tracker);tracker++;" style="height:100%;width:100%; padding: 0; background: none;" disabled> </button></td>
         <% end %>

       <% end %>
    <%= '</tr>'.html_safe %>
  <% end %>
</table>


<!-- ("(#{cell},#{row})") -->

<script >
var tracker = 0
var previous_div = ""
function select(div, tracker){
  if (tracker % 2 === 0){
  
  for (var i = 0; i < 64; i++){
    current_div = document.getElementById(i.toString())
    // piece logic should somehow be used here
    if (current_div.innerHTML.length >= 2 && current_div.id !== div.id){
      current_div.disabled = true
    }
    else{    
      current_div.disabled = false
      current_div.className = "glowing-border"
    }
  }
  previous_div = div
  return
}
else{
  move_to(previous_div, div)
  return
}
}
function move_to(previous_div, div){
  if (previous_div.id === div.id) {
    return
  }
  var keepID = previous_div.id
  var keepInner = previous_div.innerHTML
  previous_div.id = div.id
  previous_div.innerHTML = div.innerHTML
  div.id = keepID
  div.innerHTML = keepInner
  for (var i = 0; i < 64; i++){
    current_div = document.getElementById(i.toString())
    current_div.className = ""
    if (current_div.innerHTML.length >= 2){
      current_div.disabled = false
    }
    else{    
      current_div.disabled = true
    }
  }
  return
}
</script>