<h1><%= @game.game_name %></h1>
<!-- style="padding: 0; border: none; background: none;" -->

<table id='board'>
  <% 8.times do |row| %>
    <%= '<tr>'.html_safe %>
      <% 8.times do |cell| %>

          <% piece = Piece.find_by(game_id: @game.id, x_position: cell, y_position: row) %>

          <!-- square has a piece and piece is selected -->
          <% if piece != nil && piece.selected %>
            <td id="selected">
              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.color}".html_safe %>
              <% end %>
              <% next %>
            </td>
          <% end %>

          <!-- square has a piece and piece belongs to current player (can hover over piece)-->
          <% if piece != nil && current_player.id == piece.player_id %>
            <td id="selectable">
              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.color}".html_safe %>
              <% end %>
              <% next %>
            </td>
          <% end %>

          <!-- square has a piece but piece does not belong to current player (can't hover over piece) -->
          <% if piece != nil %>
              <td id="not-selectable">
                <%= link_to select_piece_path(piece.id), method: :put do %>
                  <%= "#{piece.color}".html_safe %>
                <% end %>
                <% next %>
              </td>
          <% end %>

          <!-- square does not have a piece -->
          <% if piece == nil %>
            <td id="empty">
              <%= link_to 'x', '#' %>
            </td>
            <% next %>
          <% end %>

       <% end %>

    <%= '</tr>'.html_safe %>
  <% end %>
</table>

<!-- ("(#{cell},#{row})") -->

<script >
  var tracker = 0
  var previous_div = ""
  function select(div, tracker){
    if (tracker % 2 === 0){

    for (var i = 0; i < 64; i++){
      current_div = document.getElementById(i.toString())
      // piece logic should somehow be used here
      if (current_div.innerHTML.length >= 2 && current_div.id !== div.id){
        current_div.disabled = true
      }
      else{
        current_div.disabled = false
        current_div.className = "glowing-border"
      }
    }
    previous_div = div
    return
  }
  else{
    move_to(previous_div, div)
    return
  }

  }

  function move_to(previous_div, div){
    if (previous_div.id === div.id) {
      //delects piece
      for (var i = 0; i < 64; i++){
      current_div = document.getElementById(i.toString())
      current_div.className = ""
      if (current_div.innerHTML.length >= 2){
        current_div.disabled = false
      }
      else{
        current_div.disabled = true
      }
    }

      return
    }

    //moves piece
    var keepInner = previous_div.innerHTML

    previous_div.innerHTML = div.innerHTML
    div.innerHTML = keepInner

    for (var i = 0; i < 64; i++){
      current_div = document.getElementById(i.toString())
      current_div.className = ""
      if (current_div.innerHTML.length >= 2){
        current_div.disabled = false
      }
      else{
        current_div.disabled = true
      }
    }
    return
  }

</script>
