<h2><%= @game.game_name %></h2>

<div class="text-center">
  <% if @game.turn == @game.white_player.id  %>
    <h4>white player's turn:</h4>
    <h5><%= @game.white_player.email %></h5>
  <% elsif @game.black_player != nil && @game.turn == @game.black_player.id %>
    <h4>black player's turn:</h4>
    <h5><%= @game.black_player.email %></h5>
  <% elsif @game.black_player == nil %>
      <h4>Waiting for second player to join ... </h4>
  <% end %>
</div>

<!-- use @board array to make this faster -->
<!-- piece.game.white_player_id  -->
<% all_pieces = @game.pieces.all.order(y_position: :asc, x_position: :asc) %>
<% piece_trace = 0%>
<% selected_piece_id = @game.pieces.find_by(selected: true) || 0 %>
<table id='board'>
  <% 8.times do |row| %>
    <%= '<tr>'.html_safe %>
      <% 8.times do |cell| %>

          <!-- square has a piece and piece is selected -->
          <% if @board[row][cell] != 0 && selected_piece_id != 0 %>
            <% if (selected_piece_id.x_position == cell && selected_piece_id.y_position == row) %>
              <td class="selected">
                <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <!-- <%= link_to select_piece_path(piece.id), method: :put do %> -->
                <div class="selected_piece" data-piece-id="<%=piece.id%>">
                  <%= "#{piece.symbol}".html_safe %>
                </div>
                <!-- <% end %> -->
                <% next %>
              </td>
            <% end %>
          <% end %>



          <!-- square has a piece and it's signed-in player's turn (can hover over piece)-->
          <!-- Note: s -->
          <% if @board[row][cell] != 0 && @board[row][cell] == @game.turn && current_player.id == @game.turn %>
            <td id="selectable">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>

              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.symbol}".html_safe %>
              <% end %>

              <% next %>
            </td>
          <% end %>



          <!-- square does not have a piece -->
          <% if @board[row][cell] == 0 %>
            <% if selected_piece_id == 0 %>
              <td class="empty" >

              </td>

            <% elsif !selected_piece_id.piece_can_move_to(@board).include?([row,cell]) %>

              <td class="empty" >

              </td>

            <% else %>
            <td class="highlighted" data-y-position="<%=row%>" data-x-position="<%=cell%>">
                <!-- <%= button_to '', piece_path(selected_piece_id, y_position: row, x_position: cell), method: :put, class: "button_to" %> -->
            </td>
            <% end %>
            <% next %>
          <% end %>

          <!-- square has a piece that can be captured
                current issue: capturing destination doesn't get called because identical if statement
                getting called on line 55-->
          <% if @board[row][cell] != current_player.id && @board[row][cell] != 0 && selected_piece_id != 0%>


            <% if selected_piece_id.piece_can_move_to(@board).include?([row,cell]) %>
              <td class="highlighted" data-y-position="<%=row%>" data-x-position="<%=cell%>">
                <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <%= "#{piece.symbol}".html_safe %>
                <!-- <%= button_to "#{piece.symbol}".html_safe, piece_path(selected_piece_id, y_position: row, x_position: cell), method: :put, class: "button_to" %> -->
              </td>
            <% else %>
              <td id="not-selectable">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>
              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.symbol}".html_safe %>
              <% end %>

            </td>
            <% end %>
            <% next %>
          <% end %>

          <!-- square has a piece but it's not signed-in player's turn (can't hover over piece) -->
          <% if @board[row][cell] != 0 %>
              <td id="not-selectable">
              <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <%= link_to select_piece_path(piece.id), method: :put do %>
                  <%= "#{piece.symbol}".html_safe %>
                <% end %>
                <% next %>
              </td>
          <% end %>



       <% end %>

    <%= '</tr>'.html_safe %>
  <% end %>
</table>

<!-- ("(#{cell},#{row})") -->
<script>
  $(function() {
    //draggable element (selected piece)
    $('.selected_piece').draggable({
      revert: 'invalid',
      containment: 'table',
      scroll: false,
    });
    //droppable elements (highlighted squares)
    $('.highlighted').droppable({
      accept: '.selected_piece',
      drop: function(event, ui) {

        // 'highlighted' refers to highlighted squares (piece_can_move_to)
        var highlighted = $(this);

        // center the piece inside the highlighted square
        var selected_piece = ui.draggable
        selected_piece.position({
          my: "center",
          at: "center",
          of: highlighted,
          });

        // get data to update piece position
        var piece_update = {
          id: selected_piece.data('piece-id'),
          y_position: highlighted.data('y-position'),
          x_position: highlighted.data('x-position'),
        }

        $.ajax({
          type: "PUT",
          url: '/pieces/' + piece_update.id,
          dataType: 'json',
          data: { id: piece_update.id, y_position: piece_update.y_position, x_position: piece_update.x_position },
          success: function(data) {
            highlighted.empty();
            $('.highlighted').css('border', 'none');
            $('.selected').css('border', 'none');            
          }
        });

      }
    });
  });
</script>
