<h2><%= @game.game_name %></h2>

<!-- checkmoves(king, attacking_pieces, board ) -->

<div class="text-center">
  <% if @game.turn == @game.white_player.id  %>
    <h4>white player's turn:</h4>
    <h5><%= @game.white_player.email %></h5>
  <% elsif @game.black_player != nil && @game.turn == @game.black_player.id %>
    <h4>black player's turn:</h4>
    <h5><%= @game.black_player.email %></h5>
  <% elsif @game.black_player == nil %>
      <h4>Waiting for second player to join ... </h4>
  <% end %>
</div>

<% current_king = @game.pieces.find_by(player_id: current_player.id, type: "King" ) %>

<%= pieces_attacking_king = current_king.if_check?(@board) %>

<!-- use @board array to make this faster -->
<!-- piece.game.white_player_id  -->
<% all_pieces = @game.pieces.all.order(y_position: :asc, x_position: :asc) %>
<% piece_trace = 0%>
<% selected_piece_id = @game.pieces.find_by(selected: true) || 0 %>
<table id='board'>
  <% 8.times do |row| %>
    <%= '<tr>'.html_safe %>
      <% 8.times do |cell| %>

          <!-- square has a piece and piece is selected -->
          <% if @board[row][cell] != 0 && selected_piece_id != 0 %>
            <% if (selected_piece_id.x_position == cell && selected_piece_id.y_position == row) %>
              <td class="selected" data-y-position="<%=row%>" data-x-position="<%=cell%>" id="square-<%=row%>-<%=cell%>">
                <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <!-- <%= link_to select_piece_path(piece.id), method: :put do %> -->
                <div class="selected_piece" data-piece-id="<%=piece.id%>">
                  <%= "#{piece.symbol}".html_safe %>
                </div>
                <!-- <% end %> -->
                <% next %>
              </td>
            <% end %>
          <% end %>

          <!-- empty square can't be moved to because king is in check -->
          <% if pieces_attacking_king != [] && selected_piece_id != 0 && @board[row][cell] == 0%>
            <% if !selected_piece_id.checkmoves(current_king, pieces_attacking_king, @board ).include?([row,cell]) %>
              <td id="empty" id="square-<%=row%>-<%=cell%>">

              </td>
              <% next %>
            <% end %>
          <% end %>

          <!-- piece can't be moved to because king is in check -->
          <% if pieces_attacking_king != [] && selected_piece_id != 0 && @board[row][cell] != 0%>

            <% if !selected_piece_id.checkmoves(current_king, pieces_attacking_king, @board ).include?([row,cell]) %>
              <td class="not-selectable" id="square-<%=row%>-<%=cell%>">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>
              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.symbol}".html_safe %>
              <% end %>

            </td>
              <% next %>
            <% end %>
          <% end %>

          <!-- square has a piece and it's signed-in player's turn (can hover over piece)-->
          <!-- Note: s -->
          <% if @board[row][cell] != 0 && @board[row][cell] == @game.turn && current_player.id == @game.turn %>
            <td class="selectable" data-y-position="<%=row%>" data-x-position="<%=cell%>" id="square-<%=row%>-<%=cell%>">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>

              <!-- <%= link_to select_piece_path(piece.id), method: :put do %> -->
                <div class="selectable_piece" data-piece-id="<%=piece.id%>">
                  <%= "#{piece.symbol}".html_safe %>
                </div>
              <!-- <% end %> -->

              <% next %>
            </td>
          <% end %>

          <!-- square does not have a piece -->
          <% if @board[row][cell] == 0 %>
            <% if selected_piece_id == 0 %>
              <td class="empty" id="square-<%=row%>-<%=cell%>">

              </td>

            <% elsif !selected_piece_id.piece_can_move_to(@board).include?([row,cell]) %>

              <td class="empty" id="square-<%=row%>-<%=cell%>">

              </td>

            <% else %>
            <td class="highlighted" data-y-position="<%=row%>" data-x-position="<%=cell%>" id="square-<%=row%>-<%=cell%>">
                <!-- <%= button_to '', piece_path(selected_piece_id, y_position: row, x_position: cell), method: :put, class: "button_to" %> -->
            </td>
            <% end %>
            <% next %>
          <% end %>

          <!-- square has a piece that can be captured
                current issue: capturing destination doesn't get called because identical if statement
                getting called on line 55-->
          <% if @board[row][cell] != current_player.id && @board[row][cell] != 0 && selected_piece_id != 0%>


            <% if selected_piece_id.piece_can_move_to(@board).include?([row,cell]) %>
              <td class="highlighted" data-y-position="<%=row%>" data-x-position="<%=cell%>" id="square-<%=row%>-<%=cell%>">
                <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <%= "#{piece.symbol}".html_safe %>
                <!-- <%= button_to "#{piece.symbol}".html_safe, piece_path(selected_piece_id, y_position: row, x_position: cell), method: :put, class: "button_to" %> -->
              </td>
            <% else %>
              <td class="not-selectable" id="square-<%=row%>-<%=cell%>">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>
              <!-- <%= link_to select_piece_path(piece.id), method: :put do %> -->
                <%= "#{piece.symbol}".html_safe %>
              <!-- <% end %> -->

            </td>
            <% end %>
            <% next %>
          <% end %>

          <!-- square has a piece but it's not signed-in player's turn (can't hover over piece) or theres a check -->
          <% if @board[row][cell] != 0 %>
              <td class="not-selectable" id="square-<%=row%>-<%=cell%>">
              <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <!-- <%= link_to select_piece_path(piece.id), method: :put do %> -->
                  <%= "#{piece.symbol}".html_safe %>
                <!-- <% end %> -->
                <% next %>
              </td>
          <% end %>
       <% end %>

    <%= '</tr>'.html_safe %>
  <% end %>
</table>


<!-- <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBtB_3FCuqPVKmJkB_EuDkXq0gvE9DX2DM",
    authDomain: "ruby-knights.firebaseapp.com",
    databaseURL: "https://ruby-knights.firebaseio.com",
    storageBucket: "ruby-knights.appspot.com",
    messagingSenderId: "349996601563"
  };
  firebase.initializeApp(config);

var pieceSelectRef = firebase.database().ref();
pieceSelectRef.on('value', function(snapshot) {
  //some code goes here to get snapshot.val();

}); -->

<script>

  $(function() {

    function deselectPiece() {
      $('.selected_piece').draggable().draggable("disable");
      $('.selected_piece').removeClass('ui-draggable ui-draggable-handle ui-draggable-disabled');
      $('.selected_piece').switchClass('selected_piece', 'selectable_piece');
    }

    function disableDroppable() {
      $('.highlighted').droppable().droppable("disable");
      $('.highlighted').removeClass('highlighted ui-droppable ui-droppable-disabled');
    }

    function makeDraggable(e) {
    e.draggable().draggable("enable");
    e.draggable({
      revert: 'invalid',
      containment: 'table',
      scroll: false,
      });
    }

    function makeDroppable(e) {
      // make droppable elements (highlighted squares)
      e.droppable().droppable("enable");
      e.droppable({
        accept: '.selected_piece',
        drop: function(event, ui) {

          // 'highlighted' should refer to square that accepts dropped piece
          var highlighted = $(this);

          // center the piece inside the highlighted square
          var selected_piece = ui.draggable;
          selected_piece.position({
            my: "center",
            at: "center",
            of: highlighted,
            });

          // get data to update piece position
          var piece_update = {
            id: selected_piece.data('piece-id'),
            y_position: highlighted.data('y-position'),
            x_position: highlighted.data('x-position'),
          }

          $.ajax({
            type: "PUT",
            url: '/pieces/' + piece_update.id,
            dataType: 'json',
            data: { id: piece_update.id, y_position: piece_update.y_position, x_position: piece_update.x_position },
            success: function(data) {

              // deselect squares
              $('.selected').off("click");
              $('.selected').switchClass('selected', 'empty');
              disableDroppable();

              // deselect piece
              deselectPiece();

              // clear out square that piece was dropped to and switch class
              highlighted.empty();
              highlighted.switchClass('empty', 'selectable');

              // location.reload();
            }
          });

        }
      });
    }

    function makeClickable(event) {

      // selectable square
      var selectable = $(this);

      // get id for selectable piece
      var piece_select = {
        id: $(event.target).data('piece-id'),
        // y_position: selectable.data('y-position'),
        // x_position: selectable.data('x-position'),
      }

      // select the piece, using ajax request
      $.ajax({
        type: 'PUT',
        url: '/pieces/' + piece_select.id + '/select/',
        dataType: 'json',
        data: { id: piece_select.id },
        success: function(data) {

          // deselect square
          $('.selected').off("click").click(makeClickable);
          $('.selected').switchClass('selected', 'selectable');
          disableDroppable();

          // select new square
          selectable.switchClass('selectable', 'selected');

          // deselect piece
          deselectPiece();

          // select new piece
          $(event.target).switchClass('selectable_piece', 'selected_piece');
          makeDraggable($(event.target));

          // highlight new final spots
          $.each(data.final_spots, function(index, spot) {
            $("#square-" + spot[0] + "-" + spot[1]).addClass('highlighted').attr('data-y-position', spot[0]).attr('data-x-position', spot[1]);
          });

          makeDroppable($('.highlighted'));

        }
      })
    }

    // selectable squares can be selected on click
    $('.selectable').click(makeClickable);

  });

</script>
