<h2><%= @game.game_name %></h2>

<!-- checkmoves(king, attacking_pieces, board ) -->

<div class="text-center">
  <% if @game.turn == @game.white_player.id  %>
    <h4>white player's turn:</h4>
    <h5><%= @game.white_player.email %></h5>
  <% elsif @game.black_player != nil && @game.turn == @game.black_player.id %>
    <h4>black player's turn:</h4>
    <h5><%= @game.black_player.email %></h5>
  <% elsif @game.black_player == nil %>
      <h4>Waiting for second player to join ... </h4>
  <% end %>
</div>

<% current_king = @game.pieces.find_by(player_id: current_player.id, type: "King" ) %>

<%= pieces_attacking_king = current_king.if_check?(@board) %>

<!-- use @board array to make this faster -->
<!-- piece.game.white_player_id  -->
<% all_pieces = @game.pieces.all.order(y_position: :asc, x_position: :asc) %>
<% piece_trace = 0%>
<% selected_piece_id = @game.pieces.find_by(selected: true) || 0 %>
<table id='board'>
  <% 8.times do |row| %>
    <%= '<tr>'.html_safe %>
      <% 8.times do |cell| %>

          <!-- square has a piece and piece is selected -->
          <% if @board[row][cell] != 0 && selected_piece_id != 0 %>
            <% if (selected_piece_id.x_position == cell && selected_piece_id.y_position == row) %>
              <td id="selected">
                <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <%= link_to select_piece_path(piece.id), method: :put do %>
                  <%= "#{piece.symbol}".html_safe %>
                <% end %>
                <% next %>
              </td>
            <% end %>
          <% end %>

          <!-- empty square can't be moved to because king is in check -->
          <% if pieces_attacking_king != [] && selected_piece_id != 0 && @board[row][cell] == 0%>
            <% if !selected_piece_id.checkmoves(current_king, pieces_attacking_king, @board ).include?([row,cell]) %>
              <td id="empty" >

              </td>
              <% next %>
            <% end %>
          <% end %>

          <!-- piece can't be moved to because king is in check -->
          <% if pieces_attacking_king != [] && selected_piece_id != 0 && @board[row][cell] != 0%>

            <% if !selected_piece_id.checkmoves(current_king, pieces_attacking_king, @board ).include?([row,cell]) %>
              <td id="not-selectable">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>
              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.symbol}".html_safe %>
              <% end %>

            </td>
              <% next %>
            <% end %>
          <% end %>


          <!-- square has a piece and it's signed-in player's turn (can hover over piece)-->
          <!-- Note: s -->
          <% if @board[row][cell] != 0 && @board[row][cell] == @game.turn && current_player.id == @game.turn %>
            <td id="selectable">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>

              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.symbol}".html_safe %>
              <% end %>

              <% next %>
            </td>
          <% end %>



          <!-- square does not have a piece -->
          <% if @board[row][cell] == 0 %>
            <% if selected_piece_id == 0 %>
              <td id="empty" >

              </td>

            <% elsif !selected_piece_id.piece_can_move_to(@board).include?([row,cell]) %>

              <td id="empty" >

              </td>

            <% else %>
            <td id="highlighted" >
              <%= button_to '', piece_path(selected_piece_id, y_position: row, x_position: cell), method: :put, class: "button_to" %>

            </td>
            <% end %>
            <% next %>
          <% end %>

          <!-- square has a piece that can be captured
                current issue: capturing destination doesn't get called because identical if statement
                getting called on line 55-->
          <% if @board[row][cell] != current_player.id && @board[row][cell] != 0 && selected_piece_id != 0%>


            <% if selected_piece_id.piece_can_move_to(@board).include?([row,cell]) %>
              <td id="highlighted" >
                <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <%= button_to "#{piece.symbol}".html_safe, piece_path(selected_piece_id, y_position: row, x_position: cell), method: :put, class: "button_to" %>

              </td>
            <% else %>
              <td id="not-selectable">
              <% piece = all_pieces[piece_trace] %>
              <% piece_trace += 1 %>
              <%= link_to select_piece_path(piece.id), method: :put do %>
                <%= "#{piece.symbol}".html_safe %>
              <% end %>

            </td>
            <% end %>
            <% next %>
          <% end %>

          <!-- square has a piece but it's not signed-in player's turn (can't hover over piece) or theres a check -->
          <% if @board[row][cell] != 0 %>
              <td id="not-selectable">
              <% piece = all_pieces[piece_trace] %>
                <% piece_trace += 1 %>
                <%= link_to select_piece_path(piece.id), method: :put do %>
                  <%= "#{piece.symbol}".html_safe %>
                <% end %>
                <% next %>
              </td>
          <% end %>



       <% end %>

    <%= '</tr>'.html_safe %>
  <% end %>
</table>

<!-- ("(#{cell},#{row})") -->
